<div class="row">
    <h3 class="col-10">All users</h3>
    <div class="col-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: inline-block">Add user</button>
        <button class="btn btn-danger"> Delete all</button>
    </div>    
</div>
   <div class="row">
    <div class="col-8 offset-2">
        <table class="table" style="background: white">
            <thead>
                <tr>
                <th><input type="checkbox" ng-model="selectall"></th>
                <th>Tài khoản</th>
                <th>Email</th>
                <th>Ngày sinh</th>
                <th>Ảnh</th>
                <th>Ngày lập</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="u in users">
                    <td><input type="checkbox" ng-checked="selectall"    ></td>
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td> {{u.date_of_birth}}</td>
                    <td><img src="" ng-src="{{u.avartar}}" alt="" style="width: 50px"></td>
                    <td>{{u.timestamp}}</td>
                    <td><i class="fas fa-trash-alt"></i></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>


<!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add user</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="" method="post" enctype="multipart/form-data">
              <div>
                  <label for="">Username:</label>
                  <input type="text" class="form-control" placeholder="Enter your username" ng-model="user.username" name="username">
              </div>
              <div>
                  <label for="">Email:</label>
                  <input type="text" class="form-control" placeholder="Enter your email" ng-model="user.email" name="email">
              </div>
              <div>
                  <label for="">Password</label>
                  <input type="text" class="form-control" placeholder="Enter your password" ng-model="user.password" name="password">
              </div>
              <div>
                  <label for="">Avartar</label>
                  <input ngf-select type="file"   class="form-control" ng-model="user.avartar" name="avartar" multiple id="avartar">
              </div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="addUser()">Save changes</button>
        </div>
        
      </div>
    </div>
  </div>